.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.features .row {
  justify-content: center;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--ifm-heading-color);
}

.features p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--ifm-font-color-base);
}
